:root {
    /* Primary colors */
    --color-primary: hsl(213, 96%, 18%);
    --color-secondary: hsl(243, 100%, 62%);
    --color-secondary-light: hsl(228, 100%, 84%);
    --color-secondary-lighter: hsl(206, 94%, 87%);
    --color-error: hsl(354, 84%, 57%);
    /* Neutral colors */
    --color-cool-gray: hsl(231, 11%, 63%);
    --color-light-gray: hsl(229, 24%, 87%);
    --color-light-neutral: hsl(231, 100%, 99%);
    --color-light: hsl(231, 100%, 99%);
    --color-white: hsl(0, 0%, 100%);
}
