@font-face {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-style: normal;
    src: local('Ubuntu'), url(/assets/fonts/Ubuntu-Bold.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;
    src: local('Ubuntu'), url(/assets/fonts/Ubuntu-Medium.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: normal;
    src: local('Ubuntu'), url(/assets/fonts/Rubik-Regular.ttf) format('truetype');
  }